
<ion-toolbar slot="fixed">
    <ion-buttons slot="start" *ngIf="!isDesktop">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <div class="header-info">
        <div class="avatar-circle" [ngStyle]="{ 'background-color': avatarColor }">
            {{ getInisial(kelasNama) }}
        </div>
        <div class="class-info">
            <div class="class-name">{{ kelasNama }}</div>
            <div class="teacher-name">{{ guruNama }}</div>
        </div>
    </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <div class="instruction">
        Tuliskan catatan perilaku siswa berdasarkan hasil pemantauan guru di kelas. Jawaban Anda akan disimpan untuk
        masing-masing siswa.
    </div>
    <div class="chat-container">
        <ng-container *ngFor="let siswa of siswaList().slice(0, currentIndex() + 1); let i = index">
            <!-- Bubble Masuk -->
            <div class="message received">
                {{ siswa.nama }}
            </div>

            <!-- Bubble Keluar -->
            <div class="message sent" *ngIf="siswa.jawaban" (click)="edit(i)"
                [innerHTML]="formatJawaban(siswa.jawaban)">
            </div>
        </ng-container>
    </div>
</ion-content>

<ion-footer class="chat-footer">
    <ng-container *ngIf="!isLastStudent() || isEditing; else thanksBlock">
        <div class="input-wrapper">
            <ion-textarea #textareaInput [(ngModel)]="inputJawaban" class="chat-textarea" placeholder="Tulis jawaban..."
                autoGrow="true" (keydown)="onKeydown($event)"
                [ngStyle]="{ '--highlight-color': avatarColor || '#25D366' }"></ion-textarea>

            <button *ngIf="inputJawaban?.trim()" class="circle-send-button"
                [ngStyle]="{ 'background-color': avatarColor || '#25D366' }" (click)="send()">
                <ion-icon name="send"></ion-icon>
            </button>
        </div>
    </ng-container>

    <ng-template #thanksBlock>
        <div class="thanks-message">
            Terima kasih, semua siswa telah dijawab.
        </div>
    </ng-template>
</ion-footer>