#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.avatar-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.avatar-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%; // ini yang membuat bulat
  background-color: #f44336; // fallback default
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

ion-searchbar {
  --background: #f0f0f0;
  --color: #000;
  --placeholder-color: #999;
  --icon-color: #999;
  --box-shadow: none;
  --border-radius: 8px;
  --cancel-button-color: #0b93f6;

  padding-inline: 8px;
  height: 40px;
  font-size: 14px;

  &::part(container) {
    border: none;
    box-shadow: none;
    background: #f0f0f0;
  }

  input {
    padding-left: 36px !important; // agar icon tidak mepet teks
  }
}